<div class="modal popup-1" id="exampleModalCenter"
     tabindex="-1" role="dialog" aria-hidden="true"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="popup">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-body popup-banner">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3>Newsletter <span>Subscribe</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <div class="popup-subscribe">
                <div class="subscribe-wrapper">
                    <input placeholder="Enter Keyword" type="text">
                    <button type="submit">SUBSCRIBE</button>
                </div>
            </div>

            <input type="checkbox" name="vehicle" value="Bike">
            <span>Don't show this popup again</span>
        </div>
    </div>
</div>