<header xmlns:th="http://www.thymeleaf.org"
        th:fragment="main-header"
        id="header" class="header-area">
    <div class="container-fluid custom-container menu-rel-container">
        <div class="row">
            <!-- Logo
            ============================================= -->
            <div class="col-lg-6 col-xl-2">
                <div class="logo">
                    <a href="index.html">
                        <img th:src="@{/media/images/logo.png}" alt="">
                    </a>
                </div>
            </div>

            <!-- Main menu
            ============================================= -->
            <th:block th:replace="~{/common/menu/main-menu :: main-menu}"></th:block>
            <!--Main menu end-->

            <div class="col-lg-6 col-xl-3 order-lg-2 order-xl-3">
                <div class="header-right-one">
                    <ul>
                        <li class="language">
                            <select class="custom-select">
                                <option selected>ENG</option>
                                <option value="1">FRE</option>
                                <option value="2">CHI</option>
                            </select>
                        </li>
                        <li class="curency">
                            <select class="custom-select">
                                <option selected>USD</option>
                                <option value="1">EUR</option>
                                <option value="2">GBP</option>
                            </select>
                        </li>
                        <li class="user-login">
                            <a href="login.html"><i class="fa fa-user" aria-hidden="true"></i></a>
                        </li>
                        <li class="top-cart">
                            <a href="javascript:void(0)"><i class="fa fa-shopping-cart" aria-hidden="true"></i> (2)</a>
                            <div class="cart-drop">
                                <div class="single-cart">
                                    <div class="cart-img">
                                        <img alt="" src="media/images/product/car1.jpg">
                                    </div>
                                    <div class="cart-title">
                                        <p><a href="">Aliquam Consequat</a></p>
                                    </div>
                                    <div class="cart-price">
                                        <p>1 x $500</p>
                                    </div>
                                    <a href="#"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="single-cart">
                                    <div class="cart-img">
                                        <img alt="" src="media/images/product/car2.jpg">
                                    </div>
                                    <div class="cart-title">
                                        <p><a href="">Quisque In Arcuc</a></p>
                                    </div>
                                    <div class="cart-price">
                                        <p>1 x $200</p>
                                    </div>
                                    <a href="#"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="cart-bottom">
                                    <div class="cart-sub-total">
                                        <p>Sub-Total <span>$700</span></p>
                                    </div>
                                    <div class="cart-sub-total">
                                        <p>Eco Tax (-2.00)<span>$7.00</span></p>
                                    </div>
                                    <div class="cart-sub-total">
                                        <p>VAT (20%) <span>$40.00</span></p>
                                    </div>
                                    <div class="cart-sub-total">
                                        <p>Total <span>$244.00</span></p>
                                    </div>
                                    <div class="cart-checkout">
                                        <a href="cart.html"><i class="fa fa-shopping-cart"></i>View Cart</a>
                                    </div>
                                    <div class="cart-share">
                                        <a href="#"><i class="fa fa-share"></i>Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="top-search">
                            <a href="javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                            <input type="text" class="search-input" placeholder="Search">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Container-Fluid-->
</header>