<head xmlns:th="http://www.thymeleaf.org"
    th:fragment="head">
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tiki Store</title>

    <!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/fav-icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/fav-icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/fav-icons/favicon-16x16.png}">

    <!-- Dependency Styles -->
    <link rel="stylesheet" sizes="180x180" th:href="@{/hello.css}">

    <!-- <link rel="stylesheet" href="dependencies/bootstrap/css/bootstrap.min.css" type="text/css">-->
    <link rel="stylesheet" th:href="@{/dependencies/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/dependencies/fontawesome/css/fontawesome-all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/dependencies/owl.carousel/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/dependencies/owl.carousel/css/owl.theme.default.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/dependencies/flaticon/css/flaticon.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/dependencies/wow/css/animate.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/dependencies/jquery-ui/css/jquery-ui.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/dependencies/venobox/css/venobox.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/dependencies/slick-carousel/css/slick.css}" type="text/css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/app.css}" type="text/css">
</head>