<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="main-menu"
     class="col-lg-12 col-xl-7 order-lg-3 order-xl-2 menu-container">
    <div class="mainmenu">
        <ul id="navigation">
            <li class="has-child "><a href="index.html" class="active">home</a>
                <ul class="sub-menu">
                    <li><a href="index.html">Home one</a></li>
                    <li><a href="index-2.html">Home two</a></li>
                    <li><a href="index-3.html">Home three</a></li>
                </ul>
            </li>
            <li><a href="shop.html">Collections</a></li>
            <li class="has-child"><a href="index.html">Men</a>
                <div class="mega-menu">
                    <div class="mega-catagory per-20">
                        <h4><a class="font-red" href="shop.html">Woman Dresses</a></h4>
                        <ul class="mega-button">
                            <li><a href="shop.html">Woman Dresses</a></li>
                            <li><a href="shop.html">Women & Flowers</a></li>
                            <li><a href="shop.html">Girl Hat in Sunlights</a></li>
                            <li><a href="shop.html">Men Watches</a></li>
                            <li><a href="shop.html">Clothes Fashion</a></li>
                        </ul>
                    </div>
                    <div class="mega-catagory per-20">
                        <h4><a class="font-red" href="shop.html">Clothes Fashion</a></h4>
                        <ul class="mega-button">
                            <li><a href="shop.html">Woman Dresses</a></li>
                            <li><a href="shop.html">Girl Hat in Sunlights</a></li>
                            <li><a href="shop.html">Men Watches</a></li>
                            <li><a href="shop.html">Clothes Fashion</a></li>
                            <li><a href="shop.html">Woman Dresses</a></li>
                        </ul>
                    </div>
                    <div class="mega-catagory mega-img per-30">
                        <a href="#"><img th:src="@{/media/images/banner/mmb1.jpg}" alt=""></a>
                    </div>
                    <div class="mega-catagory mega-img per-30">
                        <a href="#"><img th:src="@{/media/images/banner/mmb2.jpg}" alt=""></a>
                    </div>
                </div>
            </li>
            <li class="has-child"><a href="index.html">Women</a>
                <div class="mega-menu five-col">
                    <div class="mega-product">
                        <h4><a class="font-red" href="shop.html">Product Category</a></h4>
                        <ul class="mega-button">
                            <li><a href="shop.html">Woman Dresses</a></li>
                            <li><a href="shop.html">Women & Flowers</a></li>
                            <li><a href="shop.html">Girl Hat in Sunlights</a></li>
                            <li><a href="shop.html">Men Watches</a></li>
                            <li><a href="shop.html">Clothes Fashion</a></li>
                        </ul>
                    </div>
                    <div class="mega-product">
                        <div class="sin-product">
                            <div class="pro-img">
                                <img th:src="@{/media/images/product/10.jpg}" alt="">
                            </div>
                            <div class="mid-wrapper">
                                <h5 class="pro-title"><a href="product.html">High-Low Dresses</a></h5>
                                <span>$60.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="mega-product">
                        <div class="sin-product">
                            <div class="pro-img">
                                <img th:src="@{/media/images/product/11.jpg}" alt="">
                            </div>
                            <div class="mid-wrapper">
                                <h5 class="pro-title"><a href="product.html">Empire Dresses</a></h5>
                                <span>$10.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="mega-product">
                        <div class="sin-product">
                            <div class="pro-img">
                                <img th:src="@{/media/images/product/12.jpg}" alt="">
                            </div>
                            <div class="mid-wrapper">
                                <h5 class="pro-title"><a href="product.html">Bodycon Dresses</a></h5>
                                <span>$40.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="mega-product">
                        <div class="sin-product">
                            <div class="pro-img">
                                <img th:src="@{/media/images/product/13.jpg}" alt="">
                            </div>
                            <div class="mid-wrapper">
                                <h5 class="pro-title"><a href="product.html">Laptop carry bag</a></h5>
                                <span>$70.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="has-child"><a href="shop.html">Shop</a>
                <ul class="sub-menu">
                    <li><a href="shop.html">shop with sidebar</a></li>
                    <li><a href="shop-four-grid.html">shop four grid</a></li>
                    <li><a href="shop-without-sidebar.html">shop without sidebar</a></li>
                    <li><a href="product.html">Product details</a></li>
                    <li><a href="product-fullwidth.html">Product Fullwidth</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="account.html">Order</a></li>
                </ul>
            </li>
            <li class="has-child"><a href="blog.html">Blog</a>
                <ul class="sub-menu">
                    <li><a href="single.html">Single post</a></li>
                    <li><a href="blog.html">Blog three grid</a></li>
                    <li><a href="blog-two-grid.html">Blog two grid</a></li>
                </ul>
            </li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
    </div>
</div>