<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="mobile-menu"
     id="mobilemenu" class="accordion">
    <ul>
        <li class="mob-logo"><a href="index.html">
            <img th:src="@{/media/images/logo.png}" alt="">
        </a></li>
        <li><a href="#" class="closeme"><i class="flaticon-close"></i></a></li>
        <li>
            <a href="#" class="link">Home<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="index.html">Home one</a></li>
                <li><a href="index-2.html">Home two</a></li>
                <li><a href="index-3.html">Home three</a></li>

            </ul>
        </li>
        <li class="out-link"><a href="shop.html">Collections</a></li>

        <li>
            <a href="shop.html" class="link">Men<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="shop.html">Shop with sidebar</a></li>
                <li><a href="shop-four-grid.html">Shop four grid</a></li>
                <li><a href="shop-without-sidebar.html">Shop without sidebar</a></li>
                <li><a href="product.html">Product details</a></li>
                <li><a href="product-fullwidth.html">Product Fullwidth</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </li>

        <li>
            <a href="#" class="link">Women<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="shop.html">Woman Dresses</a></li>
                <li><a href="shop.html">Women & Flowers</a></li>
                <li><a href="shop.html">Girl Hat in Sunlights</a></li>
                <li><a href="shop.html">Men Watches</a></li>
                <li><a href="shop.html">Clothes Fashion</a></li>
                <li><a href="shop.html">Woman Dresses</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="link">Shop<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="shop.html">Shop with sidebar</a></li>
                <li><a href="shop-four-grid.html">Shop four grid</a></li>
                <li><a href="shop-without-sidebar.html">Shop without sidebar</a></li>
                <li><a href="product.html">Product details</a></li>
                <li><a href="product-fullwidth.html">Product Fullwidth</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="account.html">Order</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="link">Blog<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="single.html">Single post</a></li>
                <li><a href="blog.html">Blog three grid</a></li>
                <li><a href="blog-two-grid.html">Blog two grid</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="link">Pages<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="login.html">Account</a></li>
                <li><a href="create-account.html">Signup</a></li>
                <li><a href="account.html">Login</a></li>
            </ul>
        </li>


    </ul>
    <div class="mobile-login">
        <a href="login.html">Log in</a> |
        <a href="create-account.html">Create Account</a>
    </div>
    <form action="#" id="moble-search">
        <input placeholder="Search...." type="text">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>