<section class="banner padding-top-120"
         xmlns:th="http://www.thymeleaf.org"
        th:fragment="banner">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="#">
                    <div class="sin-banner align-items-center">
                        <img th:src="@{/media/images/banner/2.png}" alt="">
                        <div class="sin-banner-con">
                            <div class="sin-banner-inner-wrap">
                                <div class="banner-top">
                                    <h4>Man's</h4>
                                    <h4>Acces <span>sories</span></h4>
                                </div>
                                <p>Extra</p>
                                <h3>60% Off</h3>
                                <span>Final sale</span>
                                <span>Items</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.sin-banner -->
                </a>
            </div>
            <!-- /.col-xl-5 -->

            <div class="col-12 col-md-4">
                <a href="#">
                    <div class="sin-banner style-two">

                        <img th:src="@{/media/images/banner/3.png}" alt="">

                        <div class="sin-banner-con">
                            <div class="sin-banner-inner-wrap">
                                <h4>Woman's Shop</h4>
                                <h3>40% Off</h3>
                                <span>Best of Shop Beauty</span>
                            </div>

                        </div>


                    </div>
                    <!-- /.sin-banner -->
                </a>
            </div>
            <!-- /.col-xl-4 -->

            <div class="col-12 col-md-4">
                <a href="#">
                    <div class="sin-banner">
                        <img th:src="@{/media/images/banner/5.png}" alt="">
                        <div class="br-wrapper">
                            <div class="sin-banner-con-right">
                                <p>Kids shop sale</p>
                                <span>up to 80% off</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.sin-banner -->
                </a>
            </div>
            <!-- /.col-xl-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>