<section class="feature-area"
         xmlns:th="http://www.thymeleaf.org"
        th:fragment="features">
    <div class="container-fluid custom-container">
        <div class="row">
            <!-- Single Feature -->
            <div class="col-sm-6 col-xl-3">
                <div class="sin-feature">
                    <div class="inner-sin-feature">
                        <div class="icon">
                            <i class="flaticon-free-delivery"></i>
                        </div>
                        <div class="f-content">
                            <h6><a href="#">FREE SHIPPING</a></h6>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Feature -->
            <div class="col-sm-6 col-xl-3">
                <div class="sin-feature">
                    <div class="inner-sin-feature">
                        <div class="icon">
                            <i class="flaticon-shopping-online-support"></i>
                        </div>
                        <div class="f-content">
                            <h6><a href="#">ONLINE SUPPORT</a></h6>
                            <p>Online support 24 hours</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Feature -->
            <div class="col-sm-6  col-xl-3">
                <div class="sin-feature">
                    <div class="inner-sin-feature">
                        <div class="icon">
                            <i class="flaticon-return-of-investment"></i>
                        </div>
                        <div class="f-content">
                            <h6><a href="#">MONEY RETURN</a></h6>
                            <p>Back guarantee under 5 days</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Feature -->
            <div class="col-sm-6  col-xl-3">
                <div class="sin-feature">
                    <div class="inner-sin-feature">
                        <div class="icon">
                            <i class="flaticon-sign"></i>
                        </div>
                        <div class="f-content">
                            <h6><a href="#">MEMBER DISCOUNT</a></h6>
                            <p>Onevery order over $150</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>