<section class="instagram-area" xmlns:th="http://www.thymeleaf.org"
        th:fragment="instagram">
    <div class="instagram-slider owl-carousel owl-theme">
        <!-- single instagram-slider -->
        <div class="sin-instagram">
            <img th:src="@{/media/images/instagram/1.jpg}" alt="">
            <div class="hover-text">
                <a href="#">
                    <img th:src="@{/media/images/icon/ig.png}" alt="">
                    <span>instagram</span>
                </a>
            </div>
        </div>
        <!-- single instagram-slider -->
        <div class="sin-instagram">
            <img th:src="@{/media/images/instagram/2.jpg}" alt="">
            <div class="hover-text">
                <a href="#">
                    <img th:src="@{/media/images/icon/ig.png}" alt="">
                    <span>instagram</span>
                </a>
            </div>
        </div>
        <!-- single instagram-slider -->
        <div class="sin-instagram">
            <img th:src="@{/media/images/instagram/3.jpg}" alt="">
            <div class="hover-text">
                <a href="#">
                    <img th:src="@{/media/images/icon/ig.png}" alt="">
                    <span>instagram</span>
                </a>
            </div>
        </div>
        <!-- single instagram-slider -->
        <div class="sin-instagram">
            <img th:src="@{/media/images/instagram/4.jpg}" alt="">
            <div class="hover-text">
                <a href="#">
                    <img th:src="@{/media/images/icon/ig.png}" alt="">
                    <span>instagram</span>
                </a>
            </div>
        </div>
        <!-- single instagram-slider -->
        <div class="sin-instagram">
            <img th:src="@{/media/images/instagram/5.jpg}" alt="">
            <div class="hover-text">
                <a href="#">
                    <img th:src="@{/media/images/icon/ig.png}" alt="">
                    <span>instagram</span>
                </a>
            </div>
        </div>
    </div>
    <!-- /.instagram-slider end -->
</section>