<section class="slider-wrapper"
         xmlns:th="http://www.thymeleaf.org"
        th:fragment="slider">
    <div class="slider-start slider-1 owl-carousel owl-theme">

        <div class="item">
            <img th:src="@{/media/images/banner/f1.jpg}" alt="">
            <div class="container-fluid custom-container slider-content">
                <div class="row align-items-center">

                    <div class="col-12 col-sm-8 col-md-8 col-lg-6 ml-auto">
                        <div class="slider-text ">
                            <h4 class="animated fadeInUp"><span>BRAND NEW</span> COLLECTION</h4>
                            <h1 class="animated fadeInUp">COMERCIO SHOP</h1>
                            <p class="animated fadeInUp">Autem vel eum iriure dolor in molestie consequat vel illum dolore eu feugiat nulla facilisis at vero eros.</p>
                            <a class="animated fadeInUp btn-two" href="#">SHOP NOW</a>
                        </div>
                    </div>
                    <!-- Col End -->
                </div>
                <!-- Row End -->
            </div>
        </div>

        <div class="item">
            <img th:src="@{/media/images/banner/f2.jpg}" alt="">
            <div class="container-fluid custom-container slider-content">
                <div class="row align-items-center">

                    <div class="col-12 col-sm-8 col-md-8 col-lg-6 ml-auto">
                        <div class="slider-text ">
                            <h4 class="animated fadeIn"><span>BRAND NEW</span> COLLECTION</h4>
                            <h1 class="animated fadeIn">NEW ARRIVALS</h1>
                            <p class="animated fadeIn">Autem vel eum iriure dolor in hendrerit molestie consequat vel illum dolore eu feugiat nulla facilisis at vero eros.</p>
                            <a class="animated fadeIn btn-two" href="#">SHOP NOW</a>
                        </div>
                    </div>
                    <!-- Col End -->
                </div>
                <!-- Row End -->
            </div>
        </div>

        <div class="item">
            <img th:src="@{/media/images/banner/f3.jpg}" alt="">
            <div class="container-fluid custom-container slider-content">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-8 col-md-8 offset-md-1 col-lg-6 offset-xl-2 col-xl-5 mr-auto">
                        <div class="slider-text mob-align-left">
                            <h4 class="animated fadeIn"><span>LATEST COLLECTION </span> 2018 </h4>
                            <h1 class="animated fadeIn">STYLE & GRACE </h1>
                            <p class="animated fadeIn">Autem vel eum iriure dolor molestie consequat vel illum dolore eu feugiat nulla facilisis at vero eros.</p>
                            <a class="animated fadeIn btn-two" href="#">SHOP NOW</a>
                        </div>
                    </div>
                    <!-- Col End -->
                </div>
                <!-- Row End -->
            </div>
        </div>

    </div>
</section>