<div class="footer-widget"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="payment-methods">
    <h3>Payment Methods</h3>
    <p>Autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum</p>
    <div class="payment-link">
        <ul>
            <li><a href="#"><img src="media/images/p1.png" alt=""></a></li>
            <li><a href="#"><img src="media/images/p2.png" alt=""></a></li>
            <li><a href="#"><img src="media/images/p3.png" alt=""></a></li>
            <li><a href="#"><img src="media/images/p4.png" alt=""></a></li>
        </ul>
    </div>
</div>