<div class="col-md-6 col-lg-3 col-xl-3"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="social">
    <div class="footer-widget">
        <div class="logo">
            <a href="#">
                <img th:src="@{/media/images/logo2.png}" alt="">
            </a>
        </div>
        <p>Autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum dolore eu olestie consequat Autem vel eum iriure dolor.</p>
        <div class="social">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            </ul>
        </div>
    </div>
</div>